
/* ----- elements ----- */

body {
    background: #303030;
    color: white;
}

button, #filter{
    color: white;
    height: 50px;
    width: 300px;
    background-color: #3C3C3C;
    border: 0;
    font-family: "Trebuchet MS";
    font-size: 18pt;
}

button:hover {
    color: #2AD0C6;
    background-color: #484848;
}
#filter {
    display: none;
}

/* ----- classes ----- */

.heading_short {
    font-family: Roboto;
    font-size: 72px;
    margin:0;
    padding:0;
}

.heading_long {
    color: #2AD0C6;
    font-family: Roboto;
    font-size: 30pt;
    margin:0;
    padding:0;
    padding-left: 0px;
}

.pruefungsteil, .pruefung, .fach, .aufgabenart{
    font-family: "Trebuchet MS";
    font-size: 14pt;
    margin-bottom: 20px;
    margin-left: 20px;
}

.hide {
    display: none;
}

.show {
    display: unset !important;
}

/* ----- IDs ----- */

#heading {
    background-color: #545454;
    height: 180px;
}

#sidebar {
    background-color: #3C3C3C;
    float: left;
    width: 300px;
}

#content {
    margin-left: 350px;
    margin-right: 50px;
    margin-top: 50px;
    font-family: Roboto;
    font-size: 30pt;
}

#upperleftcorner {
    border-top-left-radius: 20px;
}
#upperrightcorner {
    border-top-right-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;

    font-family: Roboto;
}

th {
    background-color: #3C3C3C;
}

td{
    border: 2px solid #3C3C3C;
}

td, th {
    font-size: 18pt;
    text-align: center;
    padding: 15px;
}
